 /*video mask start  */
.item {
    width: 173px; /* Adjust as needed */
    height: 173px; /* Adjust as needed */
    
    -webkit-mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%22212%22 height%3D%22212%22 viewBox%3D%220 0 212 212%22 fill%3D%22none%22%3E%3Cpath d%3D%22M88.8552 17.2642C98.5398 7.89528 113.91 7.89528 123.594 17.2642C129.132 22.6217 136.833 25.1237 144.462 24.0446C157.804 22.1575 170.238 31.1916 172.566 44.4636C173.898 52.0531 178.657 58.6036 185.464 62.215C197.367 68.5305 202.116 83.1479 196.199 95.2536C192.815 102.176 192.815 110.273 196.199 117.196C202.116 129.301 197.367 143.919 185.464 150.234C178.657 153.846 173.898 160.396 172.566 167.986C170.238 181.258 157.804 190.292 144.462 188.405C136.833 187.326 129.132 189.828 123.594 195.185C113.91 204.554 98.5398 204.554 88.8552 195.185C83.3171 189.828 75.6166 187.326 67.9871 188.405C54.6453 190.292 42.2109 181.258 39.8828 167.986C38.5515 160.396 33.7923 153.846 26.9856 150.234C15.0826 143.919 10.3331 129.301 16.2507 117.196C19.6347 110.273 19.6347 102.176 16.2507 95.2537C10.3331 83.1479 15.0826 68.5305 26.9856 62.215C33.7923 58.6036 38.5515 52.0531 39.8828 44.4636C42.2109 31.1916 54.6453 22.1575 67.9871 24.0446C75.6166 25.1237 83.3172 22.6217 88.8552 17.2642Z%22 fill%3D%22%230C1F0C%22/%3E%3C/svg%3E');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%22212%22 height%3D%22212%22 viewBox%3D%220 0 212 212%22 fill%3D%22none%22%3E%3Cpath d%3D%22M88.8552 17.2642C98.5398 7.89528 113.91 7.89528 123.594 17.2642C129.132 22.6217 136.833 25.1237 144.462 24.0446C157.804 22.1575 170.238 31.1916 172.566 44.4636C173.898 52.0531 178.657 58.6036 185.464 62.215C197.367 68.5305 202.116 83.1479 196.199 95.2536C192.815 102.176 192.815 110.273 196.199 117.196C202.116 129.301 197.367 143.919 185.464 150.234C178.657 153.846 173.898 160.396 172.566 167.986C170.238 181.258 157.804 190.292 144.462 188.405C136.833 187.326 129.132 189.828 123.594 195.185C113.91 204.554 98.5398 204.554 88.8552 195.185C83.3171 189.828 75.6166 187.326 67.9871 188.405C54.6453 190.292 42.2109 181.258 39.8828 167.986C38.5515 160.396 33.7923 153.846 26.9856 150.234C15.0826 143.919 10.3331 129.301 16.2507 117.196C19.6347 110.273 19.6347 102.176 16.2507 95.2537C10.3331 83.1479 15.0826 68.5305 26.9856 62.215C33.7923 58.6036 38.5515 52.0531 39.8828 44.4636C42.2109 31.1916 54.6453 22.1575 67.9871 24.0446C75.6166 25.1237 83.3172 22.6217 88.8552 17.2642Z%22 fill%3D%22%230C1F0C%22/%3E%3C/svg%3E');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 /*video mask end  */

 .new{
  animation: animName  4s linear infinite;
  transform-origin: center; 
 }

@keyframes animName {
  0%{
    transform: rotate(0deg);
   }
100%{
    transform: rotate(360deg);
   }
}
 
.parent:hover .child {
  animation: fadeInAndMoveUp 0.5s ease forwards, rotateInfinite 5s linear infinite 0.5s;
}

/* Keyframes for the initial movement and rotation */
@keyframes fadeInAndMoveUp {
  0% {
    transform: translateY(150px)  ;
    opacity: 0;
  }
  100% {
    transform: translateY(0) ;
    opacity: 1;
  }
}

/* Keyframes for continuous rotation */
@keyframes rotateInfinite {
  0% {
    transform: rotate(360deg); 
  }
  100% {
    transform: rotate(720deg); 
  }
}
